<script src="https://d3js.org/d3.v7.min.js"></script> <title>Waffle Chart</title>
<body>
<h1>Waffle Chart</h1>
<div id="waffleChart"></div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
  const waffleData = [
    { name: 'Item A', value: 11, color: 'steelblue' },
    { name: 'Item B', value: 12, color: 'lightblue' },
    { name: 'Item C', value: 3, color: 'blue' },
    { name: 'Item D', value: 24, color: 'darkblue' },
    { name: 'Item E', value: 15, color: 'green' },
    { name: 'Item F', value: 6, color: 'yellow' },
    { name: 'Item G', value: 7, color: 'orange' },
    { name: 'Item H', value: 22, color: 'red' }
  ];

  const valueSum = waffleData.reduce((sum, d) => sum + d.value, 0);
  const proportions = waffleData.map(d => d.value / valueSum);

  let colorRange = [];
  waffleData.forEach((data, index) => {
    const rangeSize = Math.floor(proportions[index] * 100);
    for (let i = 0; i < rangeSize; i++) {
      colorRange.push(data.color);
    }
  });

  const waffleChart = d3.select('#waffleChart')
          .selectAll('.square')
          .data(colorRange)
          .enter()
          .append('div')
          .attr('class', 'square')
          .style('background-color', d => d);
</script>
<style>
  #waffleChart {
    background-color: #ccc;
    width: 300px;
    height: 300px;
    line-height: 0;
    font-size: 0;
  }
  .square {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
  }
</style>
