<h1>Bar Chart</h1>
<div class="wrapper">
  <canvas id="barChart" style="max-width: 800px; max-height: 350px"></canvas>
</div>

<div id="myDiv" data-value="http://localhost:8080/api/v1/external/test1"></div>

<script src="../js/chart/bar.js"></script>

<style>
  #barChart {
    background-color: #fff;
  }
</style>
