<h1>Horizontal Bar Chart</h1>
<div class="wrapper">
  <canvas id="barChart" style="max-width: 800px; max-height: 350px"></canvas>
</div>

<script src="../js/chart/horizontalBar.js"></script>

<style>
  #barChart {
    background-color: #fff;
  }
</style>
