
<h1>Line Chart</h1>
<div class="wrapper">
  <canvas id="lineChart" style="max-width: 800px; max-height: 350px">></canvas>
</div>

<script src="../js/chart/line.js"></script>
<script>
  const chartData = {
    labels: [1,2,3,4,5],
    datasets: [{
      label: 'Cases',
      backgroundColor: 'rgb(255, 99, 132, 0.2)',
      borderColor: 'rgb(255, 99, 132)',
      data: [234, 32,76,45,123],
    },
      {
        label: 'Deaths',
        backgroundColor: 'rgb(0, 99, 132, 0.2)',
        borderColor: 'rgb(0, 99, 132)',
        data: [45,123,87,34,1],
      }],
  };

  createLineChart("lineChart", chartData)
</script>

<style>
  #lineChart {
    background-color: #fff;
  }
</style>
