
<h1>Line Chart</h1>
<div class="wrapper">
  <canvas id="lineChart" style="max-width: 800px; max-height: 350px">></canvas>
</div>

<script src="../js/chart/line.js"></script>

<style>
  #lineChart {
    background-color: #fff;
  }
</style>
