<h1>Network Chart</h1>

<script src="../js/chart/network.js"></script>

<style>
  svg {
    background-color: #fff;
  }
  .link {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  .node {
    stroke: #fff;
    stroke-width: 1.5px;
  }
</style>
