<!-- openstreetmap 지도 생성 -->
<h1>openstreetmap</h1>
<div id="map" style="width: 600px; height: 500px;"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css"/>

<script src="../js/chart/openstreetmap2.js"></script>

<script>
  const initialLocation = [37.5665, 126.9780];
  const markersData = [
    {
      name: "서울시청",
      address: "서울특별시 중구 태평로1가 31",
      location: [37.5665, 126.9780]
    },
    {
      name: "종로구청",
      address: "서울특별시 종로구 통일로 246-20, 107동",
      location: [37.5753, 126.9603]
    }
  ];

  createOpenStreetMap('map', initialLocation, markersData);
</script>

<style>
  #map {
    width: 500px;
    height: 400px;
  }
</style>
