<h1>Pie Chart</h1>
<canvas id="pieChart" style="max-width: 400px; max-height: 500px"></canvas>

<script src="../js/chart/pie.js"></script>

<style>
  #pieChart {
    background-color: #fff;
  }
</style>
