<title>Waffle Chart</title>
<body>
<h1>Waffle Chart</h1>
<div id="waffleChart"></div>

<script src="../js/chart/waffle.js"></script>

<style>
    #waffleChart {
          background-color: #ccc;
    width: 300px;
    height: 300px;
    line-height: 0;
    font-size: 0;
  }
    .square {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
  }
</style>
