<header>
  <h1>{{title}}</h1>
  <a style="color: white;" href="/bar">bar</a>
  <a style="color: white;" href="/item">item</a>
  <a style="color: white;" href="/line">line</a>
  <a style="color: white;" href="/pie">pie</a>
  <a style="color: white;" href="/waffle">waffle</a>
  <a style="color: white;" href="/network">network</a>
  <a style="color: white;" href="/svgmap">svgmap</a>
  <a style="color: white;" href="/wordcloud">wordcloud</a>
  <a style="color: white;" href="/openstreetmap2">openstreetmap2</a>
  <a style="color: white;" href="/svgmapKorea">svgmapKorea</a>
  <a style="color: white;" href="/svgmapJungChi">svgmapJungChi</a>
  <a style="color: white;" href="/horizontalBar">horizontalBar</a>
  <a style="color: white;" href="/stackedBar">stackedBar</a>
</header>
